
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCvmOWbE9_n01T4Avw1O53E1DWqdybGxMc
&amp;sensor=SET_TO_true_OR_false">
</script>
<p>Test</p>
<div id="map-canvas" style="height:400px; width:600px;"></div>
<script>
    function initialise() {

        var myLatlng = new google.maps.LatLng(53.068165, -4.076803); // Add the coordinates
        var mapOptions = {
            zoom: 8, // The initial zoom level when your map loads (0-20)
            center: myLatlng, // Centre the Map to our coordinates variable
            mapTypeId: google.maps.MapTypeId.ROADMAP, // Set the type of Map
        }
        var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions); // Render our map within the empty div

    }
    google.maps.event.addDomListener(window, 'load', initialise); // Execute our 'initialise' function once the page has loaded.
</script>

