
<header>
    
</header>
<script>
  /*  function codeAddress() {
        var address = document.getElementById("city").value;
        geocoder.geocode({ 'city': address }, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                /*var marker = new google.maps.Marker({
                    map: map,
                    position:
                    
                console.log(results[0].geometry.location);
            } else {
                alert("Geocode was not successful for the following reason: " + status);
            }
        });
    };
    */
    $(document).ready(function(){
      

        $("#testloc").click(function(){
            {
             
            }
        });
    });
</script>
<form class="filter" name="filterForm">
    {{title}}
    <label>Line 1:</label>
    <input type="text" name="model" ng-model="location.Address1" ng-required="true" ng-maxlength="50" maxlength="50">{{location.Address1}}
    <label>Line 2:</label>
    <input type="text" name="addr2" ng-model="location.Address2"  ng-maxlength="50" maxlength="50">{{location.Address2}}
    <label>City:</label>
    <input type="text" name="city" id="city" ng-model="location.City" ng-required="true" ng-maxlength="100" maxlength="100" ng-blur="getgeodata()">{{location.City}}
    <label>State:</label>
    <input type="text" name="state" ng-model="location.State" ng-required="true" ng-maxlength="100" maxlength="100" ng-blur="getgeodata()">{{location.State}}
    <label>Zip:</label>
    <input type="text" name="state" ng-model="location.Zip" ng-required="true" ng-maxlength="100" maxlength="100">{{location.Zip}}
    <button ng-click="save()">Save Location</button>{{feedback}}
</form>